[tool.black]
line-length = 84
target-version = ["py313"]
skip-magic-trailing-comma = true

[tool.pytest.ini_options]
testpaths = ["system_test"]
pythonpath = ["core/scoot_core"]
markers = [
  "backend: Database backend to test against"
]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s - %(levelname)s - %(message)s"

