
name: Run Tests

on:
  push:
  pull_request:

jobs:

  # Core tests
  core:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/svjson/scoot-ci:latest
      options: --privileged -v /var/run/docker.sock:/var/run/docker.sock
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up environment
        run: make dev-setup

      - name: Run core tests
        run: make test-core



  # Emacs unit tests
  emacs-unit:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/svjson/scoot-ci:latest
      options: --privileged -v /var/run/docker.sock:/var/run/docker.sock
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up environment
        run: make dev-setup

      - name: Run Emacs unit tests
        run: make test-emacs-unit



  # System / integration tests per backend
  system:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/svjson/scoot-ci:latest
      options: --privileged -v /var/run/docker.sock:/var/run/docker.sock
    strategy:
      fail-fast: false
      matrix:
        backend: [mariadb, mssql, mysql, oracle_11g, oracle_23c, postgres]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up environment
        run: make dev-setup

      - name: Run system tests for ${{ matrix.backend }}
        run: make test-backend BACKEND=${{ matrix.backend }}



  # Big monolithic run (leak detector)
  full-suite:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/svjson/scoot-ci:latest
      options: --privileged -v /var/run/docker.sock:/var/run/docker.sock
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up environment
        run: make dev-setup

      - name: Full Test Suite
        run: make test
